<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <!-- ... -->
    <add key="ADDON_Name" value="JobCard"/>
    <add key="ISLOG" value="false"/>
    <add key="TC_Autofill_getItemPrice" value="exec TC_Autofill_getItemPrice '{0}'"/>
    <add key="TC_GET_ITEMSERIES" value="Select &quot;Series&quot; from oitm where &quot;ItemCode&quot;  = '{0}'"/>
    <add key="TC_SETTINGS" value="Select top 1 * from &quot;@TC_SETTINGS&quot;"/>
    <add key="TC_GET_UOMENTRY" value="SELECT &quot;UomEntry&quot; from OUOM where &quot;UomCode&quot; = {0}"/>
    <!--  "ProjectFilter_0_getProjects... -->

    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
 
</configuration>
